/* Newsletter.css */
.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 70px;
    margin-bottom: 70px;

  }
  
  .newsletter-form {
    flex: 1;
    max-width: 500px;
    text-align: left;
  }
  
  .newsletter-form h2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
    color: #242424;

  }
  
  .newsletter-form p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 27px;
    color: #383838;
    margin-bottom: 30px;
    text-align: left;

  }
  
  .newsletter-form input {
    width: 70%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;

  }
  
  .newsletter-form button {
    display: inline-block;
    align-self: flex-start;
    width: auto;
    margin-left: 15px;
    padding: 15px;
    background-color: #314697;
    color: #f7f7f7;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .newsletter-form button:hover {
    background-color: #111c45;
  }
  
  .newsletter-image {
    flex: 1;
    max-width: 500px;
    justify-content: center;
    align-self: center;
    align-items: center;
  }
  
  .newsletter-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  