/* Newsletter Container */
.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  gap: 30px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Newsletter Form */
.newsletter-form {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.newsletter-form h2 {
  font-size: 45px;
  font-family: 'Aptos', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.newsletter-form p {
  font-family: 'Aptos', sans-serif;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 30px;
  text-align: left;
}

.newsletter-form input {
  width: 70%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  text-align: left;
}

.newsletter-form button {
  display: inline-block;
  align-self: flex-start;
  width: auto;
  margin-left: 15px;
  padding: 10px 20px;
  background-color: #314697;
  color: #f7f7f7;
  font-size: 16px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}

.newsletter-form button:hover {
  background-color: #111c45;
  color: #f7f7f7;
  transform: translateX(3px);
}

/* Newsletter Image */
.newsletter-image {
  flex: 1;
  max-width: 500px;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.newsletter-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Mobile View (Phone) */
@media only screen and (max-width: 600px) {
  /* Newsletter Container */
  .newsletter-container {
    flex-direction: column;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* Newsletter Form */
  .newsletter-form {
    max-width: 100%;
    text-align: center;
  }

  .newsletter-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .newsletter-form p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .newsletter-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .newsletter-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-left: 0; /* Remove left margin on small screens */
  }

  /* Newsletter Image */
  .newsletter-image {
    max-width: 100%;
    align-self: center;
    margin-top: 20px;
  }

  .newsletter-image img {
    width: 100%;
    height: auto;
  }
}
