/* Crear dos columnas iguales que flotan una al lado de la otra */
.column-gallery {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; /* Ajustar altura a auto para la cuadrícula */
    margin-bottom: 150px;
    text-align: left;
}

/* Estilos para centrar verticalmente el contenido */
.center-column {
    display: flex;
    flex-direction: column; /* Alinear verticalmente */
    justify-content: center; /* Centrar verticalmente */
    height: calc(100vh - 100px); /* Ajustar altura según sea necesario */
}

/* Estilos para el título y texto de la columna 1 */
.column-title-gallery {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-left: 150px;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - hace que las dos columnas se apilen una encima de la otra en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Estilo para el botón "Go back" */
.go-back-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #9C0000;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s; /* Añadido color a la transición */
    text-align: left;
    margin-top: 100px; /* Espaciado superior para el botón */
    padding-left: 150px;
}

.go-back-btn:hover {
    transform: translateX(-8px); /* Mueve el texto del botón hacia la izquierda al pasar el ratón */
    color: #7a0000; /* Cambia el color al pasar el ratón */
}

/* Estilo para las imágenes de la galería */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
}

.gallery-image {
    margin: 5px;
    cursor: pointer;
    max-width: 200px; /* Ajusta el tamaño de las imágenes */
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para la imagen expandida */
.expanded-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px; /* Bordes redondeados */
}

/* Estilo para las flechas */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white; /* Cambia el color según sea necesario */
    font-size: 30px; /* Ajusta el tamaño de la flecha */
    cursor: pointer;
    z-index: 10; /* Asegúrate de que las flechas estén encima de la imagen */
    padding: 10px; /* Espacio alrededor del texto de la flecha */
}

.left-arrow {
    left: 20px; /* Espacio desde la izquierda */
}

.right-arrow {
    right: 20px; /* Espacio desde la derecha */
}
