/* Existing Styles */
.Introduction-title {
  font-size: 12px;
  font-family: 'Aptos', sans-serif;
  margin-left: 800px;
  text-align: left;
  color:#717171;
}

.Introduction-text {
  font-size: 14px;
  font-family: 'Aptos', sans-serif;
  margin-left: 800px;
  text-align: left;
  color: #242424;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: left;
  justify-content: left;
  text-align: left;
  margin-top: 35%;
  margin-bottom: 35%;
}

.descripcion {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 20px;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.contact-form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.form-input {
  flex: 1;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 16px;
}

.form-textarea {
  width: 100%;
  height: 100px;
  border-radius: 25px;
  padding: 10px;
  border: 2px solid black;
  font-size: 16px;
}

.submit-btn {
  background-color: #9C0000;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #4d0000;
}

/* Adjustments for Small Screens */
@media only screen and (max-width: 600px) {
  .descripcion {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .Introduction-title {
    margin-left: 20px;
    font-size: 18px; /* Adjust font size for the title on small screens */
  }

  .Introduction-text {
    font-size: 14px; /* Adjust font size for the introduction text */
    margin-left: 20px;
  }

  /* Adjust the description text font size for small screens */
  .descripcion span:first-child {
    font-size: 40px; /* Adjust the first part of the description */
    line-height: 50px;
  }

  .descripcion span:last-child {
    font-size: 40px; /* Adjust the second part of the description */
    line-height: 50px;
  }
}

/* General Adjustments for Medium to Large Screens */
@media only screen and (max-width: 900px) {
  .banda {
    padding: 10px;
  }

  .flex-container {
    flex-direction: column;
    gap: 20px;
    margin: 10px;
  }

  .foto-yo {
    margin-top: 0;
  }

  .What-can-do {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1300px) {
  .flex-container {
    margin: 5vw 10vw;
  }

  .What-can-do {
    margin: 40px auto;
  }
}
