.banda {
  position: relative;
  width: 100%; 
  height: auto; /* Permitir que la altura se ajuste automáticamente */
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: #9C0000; 
  flex-wrap: wrap; 
  font-family: Arial, sans-serif; /* Cambiado a Arial */
  padding: 10px; /* Espaciado interno */
}

.banda-item, .banda-separator {
  color: white; 
  font-size: 20px; 
  font-weight: 600; 
  line-height: 25.86px; 
  margin: 5px; /* Espaciado uniforme */
}

.flex-container {
  display: flex;
  gap: 30px; /* Reduce el espacio entre columnas para pantallas pequeñas */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

.foto-yo {
  flex: 1; 
  max-width: 60%; 
  margin: 10px; /* Espaciado externo */
}

.What-can-do {
  color: black;
  font-size: 24px; /* Ajustado para ser más responsivo */
  font-weight: 700;
  line-height: 1.3; /* Ajustar espaciado */
  text-align: center; 
  word-wrap: break-word;
  font-family: Arial, sans-serif; 
}

.expertise {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Usar minmax para adaptabilidad */
  grid-template-rows: auto; 
  gap: 20px; 
  justify-content: center; 
  margin: 20px auto; 
}

.grid-item {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
}

.grid-item img {
  width: 100%; 
  height: auto; 
}

.featured-works {
  display: flex; 
  gap: 30px;
  margin: 20px; 
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.work-box {
  display: flex;
  width: 100%; /* Hacer que la caja ocupe el ancho disponible */
  max-width: 200px; /* Mantener un ancho máximo */
  height: auto;
  flex-direction: column; 
  border: 1px solid transparent; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
  text-align: left;
}

.work-box:hover {
  transform: scale(1.05); 
}

.project-image-home {
  width: 100%; 
  max-width: 150px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: cover; 
  margin-bottom: 10px; 
}

.project-label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #646161;
  color: #646161;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
  text-align: center; /* Alinear el texto en el centro */
}

.project-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px; 
  font-weight: 800; 
  margin: 10px 0 5px;
  text-align: left;
}

.project-skills {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:500;
  font-size: 12px; 
  color: #7B7B7B; 
  margin-top: 1px; 
  text-align: left;
}

.view-more-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #9C0000;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s;
  text-align: left;
  margin-top: 8px;
}

.view-more-btn:hover {
  transform: translateX(8px); 
}

.featured-works-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7E6E2;
  margin: 50px;
  padding: 50px 0; /* Espaciado uniforme superior e inferior */
}

.featured-works-title {
  color: black;
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.3; 
  text-align: center;
  margin-top: 20px;
}

/* Contact Form */
.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px 0; 
}

.contact-form-title {
  font-family: Arial, sans-serif; 
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 22px;
}

.contact-form {
  width: 100%;
  max-width: 600px; 
}

.form-row {
  display: flex;
  flex-wrap: wrap; /* Permitir que los campos se envuelvan */
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-input {
  flex: 1; /* Hacer que los campos ocupen el ancho disponible */
  margin: 5px; 
  border: 2px solid black;
  border-radius: 25px; 
  padding: 10px;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  color: #333; 
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #000000;
}

.form-textarea {
  width: 100%;
  height: 100px; 
  border-radius: 25px; 
  padding: 10px;
  font-family: Arial, sans-serif; 
  font-size: 16px;
  border: 2px solid black;
  color: #999;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9C0000;
  color: white;
  padding: 10px 20px; 
  border-radius: 25px; 
  font-weight: bold;
  font-family: Arial, sans-serif; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #4d0000; 
}

.send-icon {
  margin-left: 10px; 
  width: 20px; 
  height: 20px; 
}

/* Responsividad */
@media only screen and (max-width: 900px) {  /* tablet y moviles */
  .flex-container {
      flex-direction: column;
      align-items: center;
      margin-top: 10vh;
  }
  
  .banda {
      padding: 10px; /* Espaciado interno */
      margin-top: 80px;
  }

  .banda-item, .banda-separator {
      margin: 5px 0; /* Espaciado vertical en lugar de horizontal */
      font-size: 18px; /* Reducir tamaño de fuente en móviles */
  }

  .foto-yo {
      margin-top: -100px; /* Ajustar la posición */
      max-width: 100%; /* Asegurar que la imagen no exceda el contenedor */
  }

  .What-can-do {
      font-size: 20px; /* Ajustar tamaño de fuente para móviles */
  }

  .expertise {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Colocar elementos en una fila */
  }

  .work-box {
      max-width: 90%; /* Ancho máximo del trabajo */
  }

  .form-row {
      flex-direction: column; /* Cambiar a columna para pantallas pequeñas */
      width: 100%; /* Asegurar que ocupe el ancho completo */
  }

  .form-input {
      width: 100%; /* Asegurar que ocupe el ancho completo */
      margin-right: 0; /* Quitar margen derecho en móviles */
  }

  .form-textarea {
      width: 100%; /* Asegurar que ocupe el ancho completo */
  }
}

@media only screen and (min-width: 900px) {
  .flex-container {
      flex-direction: row;
  }
}

@media only screen and (min-width: 1300px) {
  .flex-container {
      margin-top: 120px; 
  }

  .What-can-do {
      margin-top: 60px;
      margin-bottom: 60px;
  }
}
