/* Create two equal columns that float next to each other */
.column-project {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; /* Ajustar altura a auto para la cuadrícula */
    align-items: center;
    align-items: center;
    justify-content: center; 
    margin-bottom: 150px;
    
}

/* Estilos para el título y texto de la columna 1 */
.column-title-project {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 150px;
    text-align: left;

}

.column-text-project {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:500;
    font-size: 16px; 
    line-height: 1.5; 
    color: #555555; /* Color del texto del párrafo */
    text-align: left;
    padding-left: 150px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - hace que las dos columnas se apilen una encima de la otra en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Estilo para la cuadrícula */
.work-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crear una cuadrícula de 2x2 */
    gap: 20px; /* Espacio entre los ítems de la cuadrícula */
    width: 80%; 
    padding: 20px; 
    border-radius: 30px; 
    height: auto;
    border: none; /* Asegura que no haya borde */
    box-shadow: none; /* Elimina cualquier sombra */
    overflow: hidden;
    text-align: left;
}

/* Estilo para cada caja de proyecto */
.work-item {
    background-color: #fff; /* Color de fondo de cada caja */
    border-radius: 24px; /* Bordes redondeados */
    padding: 15px; /* Relleno interno */
    transition: transform 0.2s ease; /* Transición suave para el efecto de hover */
    
}

.work-item:hover {
    transform: scale(1.05); /* Aumentar el tamaño en un 5% cuando se pasa el ratón */
}


.project-image {
    width: 200px; 
    height: 150px; 
    border-radius: 10px; 
    object-fit: cover; 
    margin-bottom: 10px; 
    
}

.project-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #646161;
    color: #646161;
    border-radius: 15px;
    width: 60px;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.project-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    font-weight: 800; 
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
}

.project-skills {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    font-size: 13px; 
    color: #7B7B7B; 
    margin-top: 1px; 
    text-align: left;
    margin-bottom: 8px;
    
    
}

.view-more-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9C0000;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: left;
    margin-top: 10px;
}

.view-more-btn:hover {
    transform: translateX(8px); /* Move the button text 5px to the right on hover */
}

.gallery-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 10px 20px; 
    border-radius: 25px; 
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border: 2px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 40px;
    
  }
  
  .gallery-btn:hover {
    background-color: #c7c7c7; 
    color: black;
  }
  
  .gallery-icon {
    margin-left: 10px; 
    width: 20px; 
    height: 20px; 
  }

  .videogallery-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 10px 20px; 
    border-radius: 25px; 
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border: 2px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 150px;
  }
  
  .videogallery-btn:hover {
    background-color: #c7c7c7; 
    color: black;
  }
  
  .videogallery-icon {
    margin-left: 10px; 
    width: 20px; 
    height: 20px; 
  }