/* Styling the left column*/

.column-videogallery {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; 
    margin-bottom: 150px;
    margin-top: 190px;
    text-align: left;
}

.column-title-videogallery { /* Styling the page title*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-left: 150px;
    text-align: left;
}

.row:after { /*Cleares floated elements*/
    content: "";
    display: table;
    clear: both;
}

.go-back-btn { /*Styling go back button*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #9C0000;
  text-decoration: none;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s; 
  text-align: left;
  margin-top: 100px; 
  padding-left: 150px;
}

.go-back-btn:hover { /*Styling go back button on hover*/
  transform: translateX(-8px); 
  color: #7a0000;
}

/*Styling the right column*/

.video-gallery-container { /*Container for the video player section */
  float: right;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 120px;
}

.video-player { /*Styling for the video player element */
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-height: 500px;
}

.video-gallery-buttons { /*Layout for video navigation buttons (Previous/Next) */
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.video-gallery-button { /*Styling for each video navigation button */
  color: rgb(0, 0, 0);
  padding: 10px 20px; 
  border-radius: 25px; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 2px solid;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.video-gallery-button:hover { /*Hover effect for video navigation buttons */
  background-color: #c7c7c7; 
  color: black;
}

/*Responsive*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
  