/* VideoGallery.css */
/* Crear dos columnas iguales que flotan una al lado de la otra */
.column-videogallery {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; /* Ajustar altura a auto para la cuadrícula */
    margin-bottom: 150px;
    margin-top: 190px;
    text-align: left;
    

}

/* Estilos para el título y texto de la columna 1 */
.column-title-videogallery {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-left: 150px;
    text-align: left;
    

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - hace que las dos columnas se apilen una encima de la otra en pantallas pequeñas */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Estilo para el botón "Go back" */
.go-back-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #9C0000;
    text-decoration: none;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s; /* Añadido color a la transición */
    text-align: left;
    margin-top: 100px; /* Espaciado superior para el botón */
    padding-left: 150px;
}

.go-back-btn:hover {
    transform: translateX(-8px); /* Mueve el texto del botón hacia la izquierda al pasar el ratón */
    color: #7a0000; /* Cambia el color al pasar el ratón */
}
.video-gallery-container {
    float: right;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-height: 600px;
  }
  
  
  .video-player {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .video-gallery-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .video-gallery-button {
    color: rgb(0, 0, 0);
    padding: 10px 20px; 
    border-radius: 25px; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 2px solid;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  .video-gallery-button:hover {
    background-color: #c7c7c7; 
    color: black;
  }
  