/* General Contact Form Section */
.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
  justify-content: center; /* Center vertically */
  height: 100%; /* Full height of parent */
  width: 100%; /* Full width of parent */
  text-align: center;
}

.contact-form {
  width: 90%; /* Flexible width */
  max-width: 600px; /* Limit maximum width */
  margin: 0 auto; /* Center horizontally */
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 15px;
}

.form-input,
.form-textarea {
  width: 100%;
  border: 2px solid #242424;
  border-radius: 25px;
  padding: 10px;
  font-family: 'Aptos', sans-serif;
  font-size: 18px;
  color: #333;
  box-sizing: border-box;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #242424;
}

.form-textarea {
  height: 100px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #314697;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Aptos', sans-serif;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #111c45;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .form-row {
    flex-direction: column;
    gap: 10px;
  }

  .form-input,
  .form-textarea {
    width: 100%;
  }

  .contact-form {
    max-width: 100%;
    padding: 0 20px;
  }

  .submit-btn {
    width: 100%;
  }
}
