/* General Header Styling */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  position: relative;
  background-color: #e8e7e7;
}

.logo-img {
  max-height: 40px;
}

/* Main Menu */
.menu {
  display: flex;
  flex-direction: row;
  position: static;
  background: none;
  padding: 0;
  box-shadow: none;
  width: 50%;
  top: auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu a {
  color: #242424;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover Animations */
.menu a:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
  color: #9c0000; /* Highlight color */
}

/* Dynamic Underline Animation */
.menu a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Space below text */
  width: 0;
  height: 3px;
  background-color: #d5da26; /* Underline color */
  transition: width 0.4s ease; /* Smooth animation */
}

.menu a:hover::after {
  width: 100%; /* Fully expand underline on hover */
}

/* Bounce Animation */
.menu a:hover {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Dropdown Actions (Mobile View Only) */
.dropdown-actions {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.dropdown-actions .btn {
  margin-bottom: 10px;
}

/* Header Actions (Desktop View Only) */
.header-actions {
  display: none;
  align-items: center;
  gap: 10px;
}

.header-actions .btn {
  margin-left: 10px;
}

/* Hamburger Button */
.dropdown-toggle {
  background: none;
  border: none;
  color: #9c0000;
  font-size: 30px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #9c0000;
  color: #ffffff;
}

/* Button Styling: Download CV */
.btn {
  background-color: #d5da26;
  border: 3px solid #242424;
  color: #242424;
  border-radius: 8px;
  padding: 15px 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background-color: #727514;
  border: 3px solid #242424;
}

/* Large Screen Styles */
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dropdown-actions {
    display: none;
  }

  .header-actions {
    display: flex;
  }

  .dropdown-toggle {
    display: none;
  }
}

/* Mobile Specific Styles */
@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .menu a {
    margin: 10px 0;
    text-align: center;
  }

  .dropdown-actions .btn {
    margin-bottom: 10px;
  }
}
