/* Layout of the header */
.header-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 20 20px; /* Removed top padding, keep left and right padding */
  background-color: #F1F0EC;
  margin: 0; /* Ensure no margin at the top */
}

/* Logo styling */
.logo-img {
  max-height: 40px;
  margin-top: 7px;
}

/* Layout of the menu */
.menu {
  display: none; /* Hide by default */
  flex-grow: 1; 
  text-align: center;
}

.menu.show {
  display: flex; /* Show the menu when the 'show' class is added */
  flex-direction: column; /* Stack the menu items vertically for mobile view */
}

.menu a {
  color: #7B7B7B;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px 0; /* Adjust spacing between menu items */
  transition: color 0.3s;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  color: #9C0000;
  font-weight: 800;
  text-decoration: underline;
}

/* Download CV button */
.btn {
  background-color: #9C0000; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 30px; 
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s; 
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
  background-color: #4d0000; 
}

/* Add styles for the Theme Switcher container */
.theme-switcher-container {
  margin-left: 10px; /* Space between the CV button and theme switcher */
}

/* Hamburger button */
.dropdown-toggle {
  background: none;
  border: none;
  color: #9C0000;
  font-size: 30px;
  cursor: pointer;
  display: block;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .menu a {
    margin: 0 20px; /* Adjust spacing for desktop */
  }

  .dropdown-toggle {
    display: none; /* Hide the hamburger menu button on large screens */
  }
}
