.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
    background-color: #f9f9f9; 
    margin: 0;
  }
  
  .loading-logo {
    width: 150px; 
    height: auto;
    animation: spin 2s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  