.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for 4 projects */
  gap: 30px; /* Space between cards */
  padding: 20px;
  margin: 50px;
}

.project-card {
  background-color: #ffffff; /* White card background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Clip overflow */
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0 10px;
  font-weight: bold;
  color: #242424;
}

.project-tags {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap; /* Wrap tags to the next line if needed */
  justify-content: center;
  gap: 8px; /* Space between tags */
  margin: 10px 0;
}

.project-tag {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d5da26; /* Highlight color */
  color: #242424; /* Dark text */
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}

.project-description {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555555;
  margin: 10px 15px 15px;
}

.view-more-button {
  color: #242424;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.view-more-button:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.view-more-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Space below text */
  width: 0;
  height: 3px;
  background-color: #314697; /* Underline color */
  transition: width 0.4s ease; /* Smooth animation */
}

.view-more-button:hover::after {
  width: 100%; /* Fully expand underline on hover */
}

.view-more-button:hover {
  animation: bounce 0.3s ease-out;
}