.project-grid {
  display: grid;
  gap: 30px; /* Space between cards */
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px;

}

.project-card {
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Clip overflow */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  text-align: left;
  padding: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.project-title {
  font-size: 23px;
  margin: 15px 0 10px;
  font-weight: bold;
  color: #333333;
  font-family: 'Aptos', sans-serif;
}

.project-tags {
  display: flex;
  flex-wrap: wrap; /* Wrap tags to the next line if needed */
  justify-content: left;
  gap: 8px; /* Space between tags */
  margin: 12px 0;
  font-family: 'Aptos', sans-serif;
}

.project-tag {
  background-color: #D5DA26; /* Highlight color */
  color: #242424; /* Dark text */
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Aptos', sans-serif;
}

.project-description {
  font-size: 16px;
  color: #555555;
  margin: 10px 0 15px;
  font-family: 'Aptos', sans-serif;
}

.view-more-button-project {
  display: inline-block; /* Prevent it from taking full width */
  background-color: transparent; /* Transparent background */
  color: #242424; /* Dark text color */
  border: 2px solid #242424; /* Border color */
  border-radius: 16px;
  font-family: 'Aptos', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: auto;
  align-self: flex-start; /* Align to the start of the card */
}

.view-more-button-project:hover {
  background-color: #314697; /* Highlight on hover */
  color: #f7f7f7;
  transform: translateX(3px); /* Slight lift effect */
}

.view-more-button-project:focus,
.view-more-button-project:active {
  outline: none;
  background-color: transparent; /* Reset any background color on focus */
  border: 2px solid #242424; /* Keep the border on focus */
}

/* Responsive Media Queries */

@media (max-width: 400px) {
  .project-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
    margin-top: 30px; /* Smaller margin for small screens */
  }

  .project-title {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .project-description {
    font-size: 14px; /* Smaller text for descriptions */
  }

  .view-more-button-project {
    font-size: 14px; /* Smaller button text */
    padding: 8px 10px; /* Adjust padding */
  }
}
