.scrolling-band-wrapper {
    width: 100%;
    overflow: hidden; 
    background-color: #D5DA26;
    padding: 20px 0;
  }
  
  .scrolling-band {
    display: flex;
    white-space: nowrap;
    justify-content: flex-start; 
    align-items: center;
    animation: scrolling 7s linear infinite;
  }
  
  .expertise-item {
    display: inline-block;
    font-size: 24px; 
    text-align: center;
    margin: 0 15px;
  }
  
  .separator {
    font-size: 30px; 
    margin: 0 10px;
  }
  
  /* Keyframes for smooth infinite scrolling */
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
  
  .scrolling-band-wrapper:hover .scrolling-band {
    animation-play-state: paused;
  }

  @media only screen and (max-width: 600px) {
    .scrolling-band {
      animation: scrolling 3s linear infinite; 
    }
    .expertise-item {
      font-size: 18px; 
      margin: 0 10px;
    }
    
    .separator {
      font-size: 18px; 
      margin: 0 5px;
    }
    
  }
  