/* importing Aptos font */

@font-face {
  font-family: 'Aptos';
  src: url('/public/fonts/Aptos-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('/public/fonts/Aptos.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('/public/fonts/Aptos-Italic.ttf') format('truetype');
  font-weight: 400; 
  font-style: italic;
}

@font-face {
  font-family: 'Aptos';
  src: url('/public/fonts/Aptos-Bold.ttf') format('truetype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Aptos';
  src: url('/public/fonts/Aptos-ExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}

body {
  font-family: 'Aptos', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

/* theme switch */

body.light {
  background-color: #F7F7F7;
  color: #1F1F1F;
}

body.dark {
  background-color: #1F1F1F;
  color: #F7F7F7;
}

.app {
  padding: 0; 
}
