/* Reset margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures body fills full height */
}

/* Default light theme styles */
body.light {
  background-color: #E8E7E7;
  color: #242424;
}

body.dark {
  background-color:#242424;
  color: #E8E7E7;
}

/* The app class can be used for global app styling but make sure no top padding */
.app {
  padding: 0; /* Remove any padding that may be affecting header alignment */
  text-align: center;
}

/* Button styling */
.theme-toggle-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.theme-toggle-btn:hover {
  background-color: #0056b3;
}
