* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Aptos', sans-serif;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bio-pic {
  margin-top: 50px;
  width: 600px;
  align-content: center;
}

.app-container {
  width: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  width: 100%; 
  margin: 0; 
}

.section {
  padding: 3rem 0;
  margin: 1rem 0;
}

footer {
  text-align: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 1rem;
  }
}
